page-truck-list {
    .searchTitle{
        line-height: 2.4;
        letter-spacing: -1px;
        text-align: right;
    }
    .truckLabel{
        text-align: left;
    }
    ion-label.label{
        color: #949393;
    }
    .listBtnColor{
        background-color: #f5f5f5;
        color: #949393;
        font-size: 17px;
        margin: 10px 0px;
    }
    .userProfile{
        line-height: 1.3;
        font-size: 27px;
    }
    .searchAlign{
        position: absolute;
        top: 13px;
        right: 12px;
        font-size: 20px;
    }
    .truckNumDynamic{
        font-size: 15px;
    }
    .userIconCls{
        font-size: 65px;
        color: #ccc;
    }
    .truckImgAlign{
        padding-bottom: 7px;
        height: 30px;
    }
    .textColor{
        color: #949393;
        font-size: 3.5vw;
    }
    .mapImgAlign{
        width: 53%;
        margin-bottom: 1.5vw;
        // margin-top: 1vh;
    }
    .logout{
        float: right;
        margin-right: -15px;
        line-height: 1.4;
        font-size: 25px;
    }
    .getDetailImgAlign{
        width: 43%;
        // margin-top: 3vh;
        margin-left: 10%;
    }
    .borderCss{
        border-top: 1.3px solid #ccc;
        border-bottom: 1.3px solid #ccc;
    }
    .profilePicDriver{
        width: 100%;
        height: 24vw;
    }
    .textAlign{
        padding-left: 2vw;
        position: absolute;
        top: 14px;
    }
    .list-md .item-block .item-inner{
        border-bottom:0px; 
    }
    .changePadding{
        padding: 0px 5px;
    }
    .dropUpIcon{
        position: absolute;
        right: 16px;
        top: 3ypx;
        font-size: 2.8rem;
        color: #949393;
    }
    .cardHeader{
        padding: 5px 5px 0px 5px;
        background-color: whitesmoke;
    }
    @media only screen and (min-width: 500px) {
        .profilePicDriver{
            height: 21vw;
        }
    }
    }
