
<ion-header>
  <ion-navbar hideBackButton>
    <ion-grid>
      <ion-row>
          <ion-col col-1 offset-1>
              <ion-icon class="userProfile" name="contact" (click)="userProfileDisplay()"></ion-icon>
            </ion-col>
        <ion-col col-3 >
         <label class="searchTitle">Truck List</label>
        </ion-col>
        <ion-col col-5>
          <input type="text" class="form-control" placeholder="Search Truck.." name="searchTruck" [(ngModel)]="searchText" lowercase>
          <ion-icon name="md-search" class="searchAlign"> </ion-icon>
        </ion-col>
        <ion-col col-1>
          <ion-icon name="log-out" item-right class="logout" (click)="signout()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-list>
  <div *ngFor="let truck of listOfTrucks, let i=index">
  <button ion-item class="listBtnColor" (click)="dropdownVisibility(i,truck.location)" *ngIf="!dropdownVisibilityStatus[i] && ((truck.registrationNo | sortVehicle:searchText) || (truck.driverName | sortVehicle:searchText) || (truck.driverContact | sortVehicle:searchText))">
   <ion-icon name="md-arrow-dropdown" item-right ></ion-icon>
   <ion-label item-left class="truckLabel">{{truck.registrationNo}}</ion-label> 
  </button>
  <ion-grid class="changePadding" *ngIf="dropdownVisibilityStatus[i] && ((truck.registrationNo | sortVehicle:searchText) || (truck.driverName | sortVehicle:searchText) || (truck.driverContact | sortVehicle:searchText))">
    <ion-row class="borderCss">
        <ion-col class="cardHeader" col-12 (click)="dropdownVisibility(i)">
            <img src="assets/imgs/small_truck_new.png"  width="29px" class="truckImgAlign" width="29px">
            <!-- <img class="truckImgAlign" width="29px" src="assets/imgs/small_truck_new.png"> -->
            <ion-label class="truckNumDynamic">{{truck.registrationNo}} 	<span style="font-size:10px">({{locationName[i]}})</span></ion-label>
            <ion-icon name="md-arrow-dropup" class="dropUpIcon" item-left ></ion-icon>
        </ion-col>
      <ion-col col-10 style="padding-left: 11px;">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 40%;"><img src="{{baseUrl}}documents/profile/{{truck.profilePic}}" alt="Profile Pic" class="profilePicDriver"></td>
              <td class="textAlign">
                  <div class="textColor">                 
                    {{truck.driverName}}
                     </div>
                    <div class="textColor">
                      {{truck.driverContact}}
                    </div>
              </td>
            </tr>
          </tbody>
          </table>       
      </ion-col>
      <ion-col col-2>
        <ion-row>
          <ion-col col-12>
              <img class="mapImgAlign img-responsive" src="assets/imgs/google-maps.png" (click)="truckLocation(truck.location,truck.deviceId)">
          </ion-col>
          <ion-col col-12>
              <img class="getDetailImgAlign img-responsive" src="assets/imgs/get-details.png" (click)="userDetail(truck)">
          </ion-col>
        </ion-row>                    
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-list>
</ion-content>
