<ion-content padding>
    <agm-map *ngIf="latitude && longitude" [latitude]="latitude" [zoom]="14" [longitude]="longitude" #map>
        <agm-marker [latitude] = "latitude" [iconUrl]="icon"
        [longitude] = "longitude"></agm-marker>
    </agm-map>
    <button ion-button width-50 block (click)="closeModal()" color="danger">
     Close
    </button>
</ion-content>
