<ion-content class="setBackground">
    <div padding class="modalDimension"  (click)="closeModal()">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <!-- <ion-icon name="md-close-circle" class="closeModelAlign" (click)="closeModal()"></ion-icon> -->
        <img src="{{baseUrl}}documents/profile/{{profilePic}}" alt="" class="profilePic">
      </ion-col>
      <ion-col col-12 text-center class="driverName">
          {{name}}
      </ion-col>
      <ion-col col-6 text-center class="borderNum">
         <span>
          Aadhar No :
         </span>
         <span>
          {{aadhar}}
         </span>  
      </ion-col>
      <ion-col col-6 text-center class="borderNum">
          Contact No : {{transporterContactNumber}}
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  </ion-content>
  