page-user-profile {
 
    .modalDimension{
        height: fit-content;
        margin: 20vh 6.1%;
        width: 88%;
        border: 2px solid #cccc;
        border-radius: 5px;
        background-color: white;
        padding-bottom: 0px!important;
    }
    .borderNum{
        border: 1px solid #ccc;
        font-size: 4vw;
    }
    .driverName{
        font-size: 20px;
    }
    .driverAdd{
        font-size: 15px;
    }
    .profilePic{
        width: 84%;
        height: 162px;
    }
    .closeModelAlign{
        position: absolute;
        top: -17px;
        right: 2px;
        font-size: 25px;
        color: #adacac;
    }
    .content-md.setBackground {
        background-color: rgba(0,0,0,0.4392156862745098);
    }
}
