<ion-content padding text-center>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <ion-grid>
    <ion-row>
        <ion-col>
            <img src="assets/imgs/nh1-asia.png" alt="Nh1 Logo" class="imgAlign">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <input [disabled]="otpGenerationSuccess" [maxlength]="10" type="tel" [(ngModel)]="phoneNumber" pattern=".{10}" (ngModelChange)="restrictToNumber(phoneNumber)" name="phoneNumber" placeholder="Mobile Number" class="form-control inputAlign" required>
        </ion-col>
    </ion-row> 
    <ion-row *ngIf="otpGenerationSuccess" class="otpInputAlign">
        <ion-col col-2 offset-2>
          <input [maxlength]="1" type="tel" name="otp1" id="otpTextArea1" [(ngModel)]="otpNumber1"  (ngModelChange)="restrictToOneEntry(otpNumber1,2,4)" class="form-control otpNum" required>
        </ion-col>
        <ion-col col-2>
         <input [maxlength]="1" type="tel" name="otp2" id="otpTextArea2" [(ngModel)]="otpNumber2"  (ngModelChange)="restrictToOneEntry(otpNumber2,3,1)" class="form-control otpNum" required>
        </ion-col>
        <ion-col col-2>
          <input [maxlength]="1" type="tel" name="otp3" id="otpTextArea3" [(ngModel)]="otpNumber3" (ngModelChange)="restrictToOneEntry(otpNumber3,4,2)" class="form-control otpNum" required>
        </ion-col>
        <ion-col col-2>
         <input [maxlength]="1" type="tel" name="otp4" id="otpTextArea4" [(ngModel)]="otpNumber4" (ngModelChange)="restrictToOneEntry(otpNumber4,1,3)" class="form-control otpNum" required>
        </ion-col>
        <ion-col col-2 class="regenerateOTP">
          <ion-icon name="refresh-circle" (click)="regenerateOTP(phoneNumber)"></ion-icon>
        </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <button type="submit" [ngClass]="{'alignWhenOtpNotGenerated':!otpGenerationSuccess}" [disabled]="!form.valid" ion-button color="nh1-btn" block class="submitAlign">{{submitBtnText}}</button>
      </ion-col>
    </ion-row>     
  </ion-grid>  
</form>
</ion-content>
