page-home {
.imgAlign{
    margin: 20vh 0% 20% 7vw;
    height: 78px;
    width: 194px;
}
.inputAlign{
    width: 82%;
    margin: 0px auto;
    padding-left: 25px;
    height: 48px;
    font-size: 15px;
}
.submitAlign{
    width: 60%;
    font-size: 19px;
    margin: 0px auto;
    height: 48px;
}

.regenerateOTP{
    font-size: 29px;
    color: #32373b;
    text-align: left;
    padding-left: 7px;
}

.otpInputAlign{
    margin: 3% 0% 7% 0%;
}
.alignWhenOtpNotGenerated{
    margin-top: 10%;
}
.otpNum{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
// .button-md-secondary,.button-md-secondary:active,.button-md-secondary:focus,.button-md-secondary.activated{
//     background-color: #283891;
// }
}
